:root {
    --bs-gray-dark: #343a40;
}

.inline-block {
    display: inline-block;
}

.login-card {
    background-color: var(--bs-gray-dark);
    border-radius: 1rem;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    max-width: 960px;
}

.login-card form {
    width: 326px;
}
@media (max-width: 768px) {
    .login-card .login-card-img {
        display: none;
    }
}